/* reglas
selectores
declaraciones
propiedades
valores */

/*selector de etiqueta : header, section, article, nav */
/*header{
    background: pink;
    color: red
}

/*selector descendente          */
/*body header div nav ol li a */

/*selector de clase . */

/*.portafolio */

/*.link*/

/* selector de id # */
/* #portafolio */

/* gris oscuro = #1d252c
    gris claor = #626262
    background gris = #1b2127
    celeste =   #026fff */

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?ecaw1k");
  src: url("../fonts/icomoon.eot?ecaw1k#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?ecaw1k") format("truetype"),
    url("../fonts/icomoon.woff?ecaw1k") format("woff"),
    url("../fonts/icomoon.svg?ecaw1k#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-corazon:before {
  content: "\e900";
}
.icon-menu:before {
  content: "\e901";
}

body {
  font-family: "source sans pro", sans-serif;
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fjalla one", sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -0.2px;
  color: white;
  margin: 0px;
  /*text-transform: uppercase;
    text-decoration: underline;*/
}

h1 strong {
  color: #026fff;
}

h2 {
  color: #026fff;
  text-transform: uppercase;
  font-family: "source sans pro", sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}

.hero {
  height: 300px;
  /*background-image: url("../images/hero.jpg");*/
  background-color: #1b2127;
  /*background-size: 500px 300px;
  background-repeat: no-repeat;*/
  background-position-x: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-image {
  object-fit: cover;
}
.portfolio {
  background: #fafafa;
  padding: 20;
}

.project {
  /* border-top: 10px solid red;
        border-right: 10px solid green ;
        border-left: 10px solid orange   ;
        border-bottom: 10px solid  pink;*/
  /* border-color: red;
        border-width: 15px;
        border-style: solid;*/
  border: 1px solid gray;
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 15px;
  /*  margin-right: ;*/
  padding: 20px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.projet-course {
  margin: 10px 0;
}

.projet-date {
  margin: 10px 0;
}

.projet-url {
  margin: 10px 0;
}

.projet-description {
  font-size: 20px;
}

.projet strong {
  font-family: "Fjalla one", sans-serif;
}

.projet-title {
  font-size: 30px;
  margin-top: 0;
  margin-top: 10px;
}

.project-details {
  width: 50%;
}

.project-imageContainer {
  width: 50%;
}

.project-imageContainer img {
  max-width: 100%;
}
.header {
  background-color: #1b2127;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  flex-wrap: wrap;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

.header a {
  color: white;
  text-decoration: none;
}

.menu {
  height: inherit;
}

.header ol {
  display: flex;
  height: inherit;
}
.header ol li {
  height: inherit;
  display: flex;
  align-items: center;
}

.header a {
  display: flex;
  align-items: center;
  height: inherit;
  padding: 0 10px;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
}

.box {
  width: 50px;
  height: 50px;
  border: 1px solid red;
  margin: 5px;
  flex-shrink: 0;
}

.footer {
  color: white;
  background-color: #1b2127;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer img {
  vertical-align: middle;
}

.footer a {
  color: white;
}

.event {
  margin: 1%;
  width: 48%;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f4fbff;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
}

.event-list-title {
  margin-left: 20;
}
.event-img {
  width: 480px;
  height: 200px;
  object-fit: cover;
}

.event-detail {
  margin: 20px 40px;
  margin-top: -40px;
  background-color: white;
  position: relative;
  padding: 20px;
  text-align: center;
}

.event-description {
  text-align: left;
}

.event-url {
  color: #056fff;
  border: 1px solid #056fff;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.contact {
  background-color: #056fff;
  color: white;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*social {

}*/

.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  background-size: 50px 50px;
}

.social-link.twitter {
  background-image: url("../images/twitter.svg");
}

.social-link.facebook {
  background-image: url("../images/facebook.svg");
}

.social-link.github {
  background-image: url("../images/github.svg");
}

.social-link.instagram {
  background-image: url("../images/instagram.svg");
}

.form-email input {
  border-color: gray;
  border-radius: solid;
  padding: 10px 20px 10px 25px;
  background-image: url("../images/envelope.svg");
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
}

.form-email button {
  display: block;
  background: transparent;
  color: white;
  padding: 10px 0;
  border-radius: 5px;
  width: 100px;
  margin-top: 10px;
}

.form-email-h3 {
  font-family: "source sans pro", sans-serif;
}

.container {
  /*border: 1px solid red;*/
  max-width: 1000px;
  /*width: 100%;*/
  flex: 1;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

.burger-button {
  width: 40px;
  height: 40;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  line-height: 40px;
  text-align: center;
  position: fixed;
  z-index: 4;
  left: 5px;
  top: 5px;
  color: white;
}

/* desktop first que empieces desde el MQ mas grande */

@media screen and (max-width: 1024px) {
  .container {
    padding: 0 1em;
  }
  .hero {
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 2em;
  }
  .hero-image {
    position: relative;
    z-index: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  .h1 {
    position: absolute;
    font-size: 2em;
    z-index: 2;
  }
  .html-video {
    width: 100%;
    height: auto;
  }

  .youtube-video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
  .flexible-video {
    width: 100%;
    height: 0px;
    padding-top: 56.25%;
    background: blue;
    position: relative;
  }
}

@media screen and (max-width: 767px) {
  .burger-button {
    display: block;
  }
  .header {
    display: block;
    height: auto;
  }
  .header ol {
    display: block;
  }
  .header ol li {
    height: 50px;
  }
  .header a {
    justify-content: center;
    height: 40px;
    font-size: 2em;
    text-decoration: underline;
    margin-bottom: 0.5em;
  }
  .header .logo {
    text-align: center;
  }

  .menu {
    position: fixed;
    background: rgba(5, 111, 255, 0.9);
    z-index: 3;
    top: 0em;
    left: -100vw;
    width: 100vw;
    bottom: 0;
    /*height: 100vw;*/
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
  }
  .menu.is-active {
    left: 0;
  }

  .project {
    display: block;
  }
  .project-imageContainer {
    width: auto;
    text-align: center;
  }
  .project-details {
    width: auto;
    /*font-size: 16px;*/
  }
  .project-course,
  .projet-date,
  .projet-url {
    margin: 0.3em 0;
  }
  .projet-title {
    font-size: 1.5em;
    margin-bottom: 0.3em;
  }
  .project-url {
    font-size: 1em;
  }
  .projet-course {
    font-size: 0.7em;
  }
  .projet-date {
    font-size: 1em;
  }

  .projet-description {
    font-size: 0.8em;
  }
  .event {
    width: auto;
    flex-shrink: initial;
  }
  .event img {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.5em;
  }
  .project-details {
    /*width: auto;*/
    font-size: 12px;
  }
  .event-detail {
    margin: -2em 0.5em 0.5em;
    padding: 1em;
  }
  .contact {
    height: auto;
    padding: 1.5em;
    text-align: center;
    display: block;
  }
  .form-email button {
    margin: 1em auto;
  }
  .form-email h3 {
    margin-top: 0;
  }
  .footer {
    display: block;
    text-align: center;
    border: 1px solid transparent;
  }
}

@media screen and (max-width: 320px) {
  h1 {
    font-size: 1.2em;
  }
  .hero {
    padding: 2em 1em;
  }
}
